<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>
<body>
  Sign up to your account
</h2>
</div>
<form class="mt-8 space-y-6" action="/signup" method="POST">
<div class="rounded-md shadow-sm -space-y-px">
  <div class="mb-2">
    <label for="name" class="sr-only">Name</label>
    <input id="name" name="name" type="text" autocomplete="name" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Name">
  </div>
  <div>
    <label for="email" class="sr-only">Email address</label>
    <input id="email" name="email" type="text" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address">
  </div>
  <div>
    <label for="password" class="sr-only">Password</label>
    <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
  </div>
</div>
<div class="form-group">
  <label for="role" class="text-light">Role</label>
  <div class="inline-block ml-4">
    <div class="inline">
      <input type="radio" id="radio-2" name="role" value="admin" >
      <label for="radio-2">admin</label>
  </div>
  <div class="inline">
      <input type="radio" id="radio-3" name="role" value="user" >
      <label for="radio-3" class="radio-label">user</label>
  </div>
  </div>
</div>
<div>
  <button
    class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="submit">
    Sign up
  </button>
  <a class="inline-block align-baseline font-bold text-sm" href="/user/login">
      Already have account?
  </a> 
</div>
</form>
</div>
</div>
</section>
</body>
</html> -->
<!-- <section class="login flex justify-center pt-24">
  <div class="flex h-1/2  items-center justify-center bg-gray-50 px-4 mt-8 w-2/3">
    <div class="py-4">
      <div>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Sign up to your account
        </h2>
      </div>
      <form class="mt-8 space-y-6" action="/signup" method="POST">
        <div class="rounded-md shadow-sm -space-y-px">
          <div class="mb-2">
            <label for="name" class="sr-only">Name</label>
            <input id="name" name="name" type="text" autocomplete="name" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Name">
          </div>
          <div>
            <label for="email" class="sr-only">Email address</label>
            <input id="email" name="email" type="text" autocomplete="email" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Email address">
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input id="password" name="password" type="password" autocomplete="current-password" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Password">
          </div>

        </div>
        
        <div>
          <button class="rounded-full text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Sign up
          </button>
          <a class="inline-block align-baseline font-bold text-sm" href="/user/login">
            Already have account?
          </a>
        </div>
      </form>
    </div>
  </div>
</section> -->
<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">


	<!-- <script type="text/javascript">
		$(document).ready(function(){
			$( "#form1" ).submit(function(event) {
				event.preventDefault();
				$.ajax({
					type: 'POST',
					url: '/signup',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form1')[0].reset();
						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="You are regestered,You can login now.") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});
		});
	</script> -->
</head>
<body>

	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Register Now
			</p>
		</div>
		<div class="form-group">
			<form id="form1" action="/signup" method="post">
				<input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
				<input type="text" name="name" placeholder="Name" required="" class="form-control"><br/>
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
				<!-- <input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/> -->
				<input type="submit" value="Register" class="btn btn-success">
			</form>
		</div>
		
		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div>
			<span>Already Registered! <a href="/login">Login</a></span>
		</div>
		<div id="LangTable"><a href="/login" id="aa"></a>
		</div>
	</div>
</body>
</html>